<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codehouse Restaurant</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
    <%- include("navbar"); -%>
    
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-12 header flexCenter text-center">
                <h1 class='display-1'>Welcome to the Codehouse Academy Restaurant</h1>
                <a href="#" class="btn btn-orange">Make a reservation</a>
            </div>
            <div class="col-12 pt-5 text-center">
                <h1>About us</h1>
                <h2 class='orange'>Always responsive</h2>
            </div>
            <div class="col-12 col-lg-6 flexCenter p-5">
                <h2>Who we are</h2>
                <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor molestiae voluptatibus eaque non sapiente impedit minima, corrupti reiciendis accusamus ratione inventore. Eum et, nemo quidem at saepe necessitatibus. Dolore magni facere qui nihil recusandae saepe voluptates alias natus ea nesciunt. Ratione a ducimus corrupti, suscipit nisi amet laborum necessitatibus, quaerat maxime, ipsa impedit quas. Non veritatis nostrum eos perferendis illo quisquam excepturi ex repudiandae facere repellat officiis error tempore dolorem aperiam vero adipisci, quaerat cum at illum architecto? Impedit error, ducimus labore assumenda voluptatem odio expedita fugit nemo fugiat! Repellat quisquam deleniti magnam facilis, expedita quaerat hic voluptatem animi nemo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam corrupti nisi explicabo molestias consectetur quae excepturi facere quos consequatur eligendi.</p>
                <a href="#" class="btn btn-orange">Book now!</a>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row p-5">
                    <div class="refImg1"></div>
                    <div class="refImg2"></div>
                </div>
            </div>
            <div class="col-12 chefs flexCenter mb-5 text-white">
                <h2 class='display-4'>Meet our chefs</h2>
            </div>

            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card mb-3 m-5">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <img src='/images/web/avatar-1.jpg' class="card-img" alt="...">
                      </div>
                      <div class="col-12">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <a href="/view/2" class="btn btn-orange">View profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card mb-3 m-5">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <img src='/images/web/avatar-1.jpg' class="card-img" alt="...">
                      </div>
                      <div class="col-12">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <a href="/view/2" class="btn btn-orange">View profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card mb-3 m-5">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <img src='/images/web/avatar-1.jpg' class="card-img" alt="...">
                      </div>
                      <div class="col-12">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <a href="/view/2" class="btn btn-orange">View profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card mb-3 m-5">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <img src='/images/web/avatar-1.jpg' class="card-img" alt="...">
                      </div>
                      <div class="col-12">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <a href="/view/2" class="btn btn-orange">View profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>


        </div>
    </div>

    <%- include("footer"); -%>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>