body {
	background-color: rgb(252, 246, 218);
}

h1,
h2,
h3,
h4 {
	font-family: "Kaushan Script";
}

.navbar {
	background-color: #6f120b4a !important;
	z-index: 5;
}

.filter {
	background-color: #00000087;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 0;
}

.nav-link,
.a-link {
	transition: 0.5s;
}

.nav-link:hover,
.a-link:hover {
	transform: scale(1.1);
	text-decoration: none;
}
.flexCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	background-image: url("/images/web/bg-home.jpg");
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

h1,
h3,
a {
	z-index: 1;
}

.orange {
	color: #f44336;
	font-family: "Merriweather";
}

.btn {
	border-radius: 10px;
}

.btn-orange {
	background-color: #f44336;
	color: white;
}
.refImg1,
.refImg2 {
	height: 500px;
	width: 45%;
	margin: 2%;
	background-size: cover;
	background-position: center;
}
.refImg1 {
	background-image: url("/images/web/food-img-01.jpg");
}

.refImg2 {
	background-image: url("/images/web/food-img-02.jpg");
}

.chefs {
	height: 40vh;
	background-image: url("/images/web/parallax-bg-9.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.footer {
	background-color: #302322e0;
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	bottom: 0;
	width: 100%;
}

.registerForm {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	box-shadow: 0px -4px 20px 0px #0000005e;
}

.regForm {
	display: flex;
	flex-direction: column;
}

.bg-chefTable {
	background-image: url("/images/web/bg-home.jpg");
	background-position: center;
	background-size: center;
}

.loginbg {
	background-image: url("/images/web/parallax-bg-9.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 80vh;
}

.loginContainer {
	height: 80vh;
}

.loginForm {
	box-shadow: 20px 19px 20px 20px #000000a6;
	border-radius: 15px;
}

.profile-container,
.calendar {
	min-height: 80vh;
}

.chef {
	padding: 1%;
}
.chef-img img {
	height: 100%;
	width: 100%;
}

.h200 {
	height: 180px;
}

.chef-body {
	min-height: 180px;
}

.dish_img img {
	width: 100%;
}

.editImage {
	max-height: 250px;
}

.reviews {
	background-color: #ffc107;
}
.h30 {
	height: 30vh;
}

.reviewName {
	width: fit-content;
	padding: 2%;
	border-radius: 5px;
	position: relative;
	top: 35px;
	left: 14px;
	z-index: 2;
}

.userComment {
	width: 80%;
	position: relative;
	left: 98px;
	top: 8px;
	z-index: 0;
}

.checked {
	color: orange;
}

@media (max-width: 991px) and (min-width: 769px) {
	.chef-responsive {
		height: 600px;
		width: 610px;
		margin-top: 0;
		padding-top: 0;
	}

	.chef-buttons {
		margin: 0 30% 0 0 !important;
		width: 100px;
		height: 596px;
		position: relative;
		left: 255px;
	}
}

@media (max-width: 768px) {
	.loginForm,
	.registerForm {
		width: 80%;
	}

	.chef-responsive {
		height: 100%;
	}

	.chef-buttons {
		height: 98%;
	}

	.dish {
		height: 100%;
	}

	.dish-buttons {
		height: 100%;
		padding-top: 5%;
	}

	.dish-buttons img {
		transform: scale(0.75);
	}

	.col {
		padding-right: 0;
	}
}

@media (max-width: 575px) {
	.header h1 {
		font-size: 70px;
	}

	.loginForm {
		width: 60%;
	}

	.profile-container {
		width: 75%;
	}

	.chef-buttons {
		flex-direction: row;
		height: 100px;
		padding-top: 8% !important;
	}

	.chef-responsive {
		height: 500px;
		padding: 0 5%;
	}

	.dish_img img {
		height: 300px;
	}

	.row-img {
		display: flex;
		flex-direction: column;
	}

	.refImg1,
	.refImg2 {
		width: 100%;
	}
}
